
.display {
position: relative;
 /* top:11rem; */
  height: 400px;
  width: 100%;
  background-color: rgb(150, 197, 146);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
 border: 1px solid;
 border-radius: 10px;
 box-shadow: 0 4px 10px rgba(0,0,0,1);

}
/* bobbles for cards  */
.bubble-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.bubbles{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.checked{
    background-color: blue;
}


/* to show cards */
.card-container {
  width: 90%;
  height: 100%;
  background-color: rgb(17, 203, 228);
  position: relative;
  overflow: hidden;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* cards */
.content-panel {
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: aqua; */
    transform: translateX(100%);
    opacity: 0;
    z-index: 0;
    transition:opacity 0.2s ease, transform 2s ease;
}
/* color just for showing purpuses */
.red{
    background-color: rgb(243, 58, 12);
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.active {
    z-index: 1;
    transform: translateX(0%);
    opacity: 1;
}