
.display {
position: relative;
 /* top:11rem; */
  height: 400px;
  width: 100%;
  background-color: rgb(53, 199, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
 border: 1px solid;
 border-radius: 10px;
 box-shadow: 0 0px 10px rgba(0,0,0,1);

}
/* bobbles for cards  */
.bubble-nav {
    position: absolute;
    bottom: 3px;
  display: flex;
  gap: 10px;
  /* margin-bottom: 10px; */
  z-index: 20;
}
.bubbles{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.checked{
    background-color: blue;
}


/* to show cards */
.card-container {
  width: 100%;
  height: 100%;
  background-color: rgb(105, 113, 114);
  position: relative;
  overflow: hidden;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* cards */
.content-panel {
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: aqua; */
    transform: translateX(100%);
    opacity: 0;
    z-index: 0;
    transition:opacity 0.2s ease, transform 2s ease;
}
.heading{
    position: absolute;
    font-size: 2rem;
    text-shadow: 2px 2px red;
    bottom: 100px;
   left: 50px;
}
.link_button{
    position: absolute;
   bottom: 40px;
   left: 60px;
    /* transform: translateY(100); */
}



/* color just for showing purpuses */
.red{
    background-color: rgb(243, 58, 12);
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.active {
    z-index: 1;
    transform: translateX(0%);
    opacity: 1;
}